/*----------BASE STYLES--------------*/

@font-face {
  font-family: 'Electronica-Display-Stencil';
  src:url(webkit-electronica-stencil/"../webkit-electronica-stencil/electronica_display_stencil-webfont.woff2")
	  url(we"../webkit-electronica-stencil/electronica_display_stencil-webfont.woff")


body, html {


	
}

h1 {
	font-family:
}

















/*------------------Breakpoints----------------*/ 

/*--------Tablets larger than 768px------------*/

@media (min-width: 768px) {
	
}


/*---------Desktops larger than 1200px---------*/