/*----------BASE STYLES--------------*/
html {
	font-size: 25px;
}



body, html {
	width: 1366px; 
	height: 100%;
	background-color: #EBEBEC; 
}

body {
	height: 100%; 
	font-family:'Newsreader', serif;
	font-weight:400;  
}

.container {
	display: flex;	
	flex: wrap; 
	height: 100%;
	max-height: 200px; 
	width: 100%;
	justify-content: space-between; 
}


.header-flex-items {
	display: flex; 
	height: 30%; 	
}

.logo {
	min-width: 95px;
	min-height: 123px; 
	margin-top: 50px;
	margin-left:30px;
}

h1 {
    font-family: 'electronica display stencil';
    color: #A10D65;
    font-size: 3.4rem;
    margin-left: 111px;
    right: 0px;
    padding-left: 25px;
}

nav {
	min-width: 95px;
	min-height: 123px; 
	margin-top: 50px;
	margin-left:30px;
	
}

.burger {

}

.tagline {
	display: flex;
	justify-content: center;
	font-family: 'Newsreader', serif;
	font-weight:400; 
	font-size: 1.4rem;
	
}

















/*------------------Breakpoints----------------*/ 

/*--------Tablets larger than 768px------------*/

/*---------Desktops larger than 1200px---------*/.logo {
}
