@font-face {
    font-family: 'Newsreader 16pt';
    src: url('webkit-newsreader/Newsreader16pt-Regular.woff2') format('woff2'),
        url('webkit-newsreader/Newsreader16pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader 16pt';
    src: url('webkit-newsreader/Newsreader16pt-Italic.woff2') format('woff2'),
        url('webkit-newsreader/Newsreader16pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

